* {
    -fx-font-family: "Segoe UI", "Arial", "Tahoma", sans-serif;
}

.login-pane {
    -fx-background-color: #0f172a;
}

.dashBoard {
    -fx-background-color: #151515;
}

.login-card {
    -fx-background-color: rgba(250, 250, 250, 0.5);
    -fx-background-radius: 18;
}

.sideBar {
    -fx-border-color: transparent #272727 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.logo {
    -fx-text-fill: #FFF;
    -fx-font-size: 20;
    -fx-font-weight: 900;
}

.logoPane {
    -fx-border-color: transparent transparent #272727 transparent;
    -fx-border-width: 0 0 1 0;
}


.title-label {
    -fx-text-fill: #0f172a;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.subtitle-label {
    -fx-text-fill: #64748b;
    -fx-font-size: 14;
}

.field-label {
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: #1e293b;
}

.input-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cbd5e1;
    -fx-padding: 10 12;
    -fx-font-size: 14;
}

.forgot-link {
    -fx-text-fill: #2563eb;
}

.status-label {
    -fx-text-fill: #dc2626;
    -fx-font-size: 12;
}

.btn {
    -fx-background-color: #12505A;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.dashboard-split > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;              /* giam do day divider */
    -fx-border-width: 0;
}

.dashboard-split > .split-pane-divider > .vertical-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.sidebar-menu {
    -fx-padding: 22 0 22 0;
}

.menu-btn {
    -fx-max-width: Infinity;
    -fx-pref-height: 38;
    -fx-alignment: CENTER_LEFT;

    -fx-padding: 0 0 0 38;
    -fx-background-insets: 0 38 0 0;
    -fx-border-insets: 0;

    -fx-background-radius: 0 26 26 0;
    -fx-border-radius: 0 26 26 0;

    -fx-background-color: transparent;
    -fx-text-fill: #8d8d8d;
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-cursor: hand;
}

.menu-btn:selected {
    -fx-background-color: linear-gradient(to right, #6a35ff, #ff6a3d);
    -fx-background-radius: 0 26 26 0;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 500;
}


